@import '../../theme';

.editorButton {
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: $backgroundColor;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    color: $foregroundColor;
  }
}

.editorButton:hover {
  box-shadow: 1px 1px 6px $shadowColor;
}

.editorButton:active {
  background-color: $activeBackgroundColor;
}

.active {
  background-color: $activeBackgroundColor;
  box-shadow: 1px 1px 6px $shadowColor;
}
