.CanvasDetails {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.sizeInput {
  width: 2em;
  font-size: 16px;
  padding-top: 2px;
  margin: 0 5px 0 5px;
  text-align: center;
  border: none;

  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
}

.sizeDetailWrapper {
  display: flex;
  flex-direction: row;
  height: 1.5em;
  margin-top: 10px;
}

.sizeDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sizeDetail > p {
  margin: 0;
}