$backgroundColor: #fff;
$foregroundColor: #000;
$pageBackgroundColor: rgb(209, 209, 209);
$activeBackgroundColor: rgb(206, 223, 255);
$shadowColor: rgb(129, 129, 129);
$borderColor: rgb(210, 210, 210);